<!doctype html>
<html lang="$lang$">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="$if(description)$ $description$ $else$navilan - reasonably unfiltered$endif$">
    <meta name="author" content="$if(author)$ $author$ $else$navilan$endif$">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>$title$</title>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:500,800|Merriweather:300,400,700|Montserrat+Alternates:300,400,700,900&display=swap&subset=tamil" rel="stylesheet">
    <link rel="stylesheet" href="/media/styles/styles.css">
    <link rel="stylesheet" href="/media/styles/panzoom.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="/media/scripts/panzoom.js"></script>
    <script src="/media/scripts/fslightbox.js"></script>


    $if(ogmeta)$
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="$title$">
    <meta itemprop="description" content="$if(description)$ $description$ $else$ Navilan $endif$">
    <meta itemprop="image" content="http://navilan.in$og_image$">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@navilan">
    <meta name="twitter:title" content="$title$">
    <meta name="twitter:description" content="$description$">
    <meta name="twitter:creator" content="$if(author_twitter)$$author_twitter$$else$@navilan$endif$">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image" content="http://navilan.in$og_image$">
    <!-- Open Graph data -->
    <meta property="og:title" content="$title$" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="$url$" />
    <meta property="og:image" content="http://navilan.in$og_image$" />
    <meta property="og:description" content="$description$" />
    <meta property="og:site_name" content="Navilan" />
    <meta property="article:published_time" content="$published$" />
    <meta property="article:modified_time" content="$if(modified)$ $modified$ $else$ $published$ $endif$" />
    <meta property="article:section" content="$if(og_section)$ $og_section$ $else$ Events $endif$" />
    $if(tags)$
    <meta property="article:tag" content="$tags$" />
    $endif$

    $endif$
  </head>
  <body>
    $body$
    <script>
        initializePanAndZoom();
    </script>
</body>
</html>

